.body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.events__container {
     box-sizing: border-box;
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     padding-left: 40px;
     padding-right: 40px;
     max-width: 1414px;
     width: 100%;
}

.home {
    padding-top: 147px;
}
.main-header__title,
.main-header__text {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    color-scheme: #1f1e1e;
}
.main-header__title {
    margin: 0 0 70px;
}
.main-header__text {
    margin: 0 auto;
    max-width: 948px;
    width: 100%;
}
.main-header__picture {
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}
.main-header__picture::before {
content: '';
display: block;
width: 100%;
padding-top: 16.927%;
}
.main-header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-header {
    padding: 100px 0;
}
.events {
    padding-top: 147px;
}

.events__container {
    flex-direction: column;
}

.events__title {
    align-self: center;
}

.title {
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1f1e1e;
    text-transform: uppercase;
    font-family: 'Lora';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
}
.listing {
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}
.listing__card-event {
max-width: 405px;
width: calc(33.333% - 40px);
}
.card-event {
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
    color: @black;
}
.card-event__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-event__link:hover .card-event__title {
    color: #A51505;
    text-decoration-color: #A51505;
}
.card-event__picture {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 0 0 25px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}
.card-event__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.160%;
}
.card-event__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-event__title {
    margin: 0 0 auto;
    min-height: 64px;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1f1e1e;
    transition: color 0.2s, text-decoration-color 0.23s;

}
.card-event__text {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #1f1e1e;
}
.card-event__time {
    margin-top: auto;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #1f1e1e;
}
.page-footer {
}
